.thumbnail-grid {
  img {
    height: 300px;
    width: 300px;
    margin-top: 15%;


  }

  .row {
    padding: 10%;
  }
}
.demo-transition {
  transition: opacity $trans-opacity;
  &:hover {
    opacity: 0;
  }
}
